body {
    margin: 0;
}

.header {
    display: flex;
    background: darkgray;
    padding: 20px
}

.logo--placeholder {
    padding-right: 10px;
    justify-self: center;
}

.image--placeholder {
    margin-left: auto;
    padding: 15px;
    ;
}

.movie-scroll {
    display:flex;
    justify-content: center;
    align-items: center;
    background: black;
    margin: 50px 100px;
    height: 200px;
    border-radius: 15px;;
}

.movie-scroll > p {
    color: darkgray;
    font-size: 700%;
}

.nav--buttons {
    display: flex;
    flex-direction: column;
    background: darkgray;
    gap: 20px;
    width: 150px;
    margin: 20px;
    border-radius: 15px;
}

.MainButtons {
    max-width: 100px;
    border-radius: 25px;
    height: 100px;
    margin: 20px;
}